<%- include('./partials/sideMenuDr.ejs'); %>
<style>
.pat_list{
    text-align: center;
}
</style>

<div class="scrollable" id ="data"><br>
    <h4 class="pat_list">Patients List</h4>
    <br>
    <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Token Name</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Registration Date</th>
    </tr>
    </thead>
    <tbody>
    <% patient.forEach(Patient => { %>
    <tr>
      <th scope="row"><%= Patient.tokenname %></th>
      <td><%= Patient.name %></td>
      <td><%= Patient.email %></td>
      <td><%= Patient.date %></td>
    </tr>
    </tbody>
    <% }) %>
    </table>
  </div>
