<%- include('./partials/header.ejs'); %>
<%- include('./partials/sideMenu.ejs'); %>
<style>
    .card{
        align-items: center;
        text-align: center;
        font-size: medium;
        background-color: #ebedee;
        border:1px solid rgb(67, 65, 75);
    }
    .col-sm-5{
        margin-left: 200px;
    }
    .up_rep{
        text-align: center;
    }
    .image{
        margin-top: 10px;
        height: 280px;
        width: 280px;
    }
    .title{
        font-weight: 700;
    }
    .scrollable {
       height: 700px; /* or any value */
        overflow-y: auto;
               }
    
</style>

<div class="scrollable" id ="data"><br>
    <h4 class="up_rep">Reports Collection</h4>
    <br>
<% images.forEach(images => { %>
<ul>
<div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
            <img class="image" src= "<%= images.imageUrl %>" alt="Image Here"></img>
            <br>
            <br>
          <h6 class="title">Description: <%= images.title %></h6>
          <a href="<%= images.imageUrl %>" class="btn btn-primary">View Report</a>  
        </div>
      </div>
    </div>
</div> 
</ul> 
    <% }) %>    
</div>